<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-md-center" style="display:none" id="divMessages">
        <div class="col-md-auto">
            <div class="alert alert-danger text-align-center">
                <p id="messages" ></p>
            </div>
        </div>
    </div>
    <form method="POST" action="" id="formCadastro" >
        <input type="email" name="email"  placeholder="email">
        <input type="text" name="username" placeholder="usuario">
        <input type="password" name="password" placeholder="senha">
        <input type="text" name="playerName" placeholder="player name">
        <input type="submit" class="btn btn-primary" value="Salvar">
    </form>
</div>
<script>
        const formEl = document.getElementById('formCadastro');
        formEl.addEventListener('submit', e =>{
        e.preventDefault();

        const formData =  new FormData(formEl);
        const data = Object.fromEntries(formData);

        fetch('http://localhost:8080/auth/register',{
            method: 'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if(response.ok){
                window.location='http://localhost:8080/usuario/login';
            }else if(response.status == 406){

                document.getElementById("divMessages").style.display="inline";
                document.getElementById("messages").innerHTML="Nome de Usuário em uso";
            }else if (response.status == 409){
                document.getElementById("divMessages").style.display="inline";
                document.getElementById("messages").innerHTML="Email em uso";

            }


        })
    });
</script>
</body>
</html>
