<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-danger" role="alert" th:if="${msg}">
        <strong th:text="${msg}"></strong>
    </div>
    <form method="post" action="login" th:object="${usuario}">
        <input type="text" placeholder="usuario" th:field="*{username}">
        <input type="password" placeholder="senha" th:field="*{password}">
        <input type="submit" class="btn btn-primary" value="Salvar">
    </form>
</div>
</body>
</html>