<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link type="text/css" th:ref="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container-fluid">
    <form method="POST" action="logar" id="logarForm">
        <input type="text" placeholder="usuario" name="username">
        <input type="password" placeholder="senha" name="password">
        <input type="submit" class="btn btn-primary" onclick="enviarProBack('logarForm','http://localhost:8080/usuario/logar','http://localhost:8080/usuario')" value="Salvar">
    </form>
</div>
</body>
</html>